@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    color: darkmagenta;
    display: flex;
    justify-content: center;
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid purple;
    border-radius: 20px;
}

img {
    width: 400px;
    float: left;
    margin: 20px;
}

#p-2 {
    color: darkmagenta;

}

.main>p:nth-child(odd) {
    background-color: lightpink;
    color: white;
}